@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.card {
  @apply bg-blue-500 rounded-lg relative overflow-hidden;
}

.card::before {
  content: "";
  @apply bg-indigo-800 h-64 w-1/2 absolute rounded-r-full;
}

.card::after {
  content: "";
  @apply bg-cyan-300 h-32 w-32 -right-8 -top-8 absolute rounded-l-full;
}

.content-left::-webkit-scrollbar {
  display: none;
}
